<template>
  <div class="admin-newpost">
    <section class="newpost-form">
      <AdminPostForm @submit="onSubmitted"/>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';
  import AdminPostForm from '~/components/Admin/AdminPostForm';
  
  export default {
    layout: 'admin',
    components: {
      AdminPostForm
    },
    methods: {
      onSubmitted(postData) {
        this.$store.dispatch('addPost', postData)
          .then(() => {
            this.$router.push('/admin');
          });
      }
    }
  }
</script>

<style scoped>
  .newpost-form {
    width: 90%;
    margin: 20px auto;
  }
  @media (min-width: 768px) {
    .newpost-form {
      width: 500px;
    }
  }
</style>

