<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
  export default {

  }
</script>


<style>

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

</style>
