<template>
  <div class="about-page">
    <h1>Page about</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
</template>

<style scoped>
  .about-page {
    text-align: center;
    padding: 30px;
  }
</style>

