<template>
  <div class="post-page">
    <section class="post">
      <h1 class="post__title">{{ loadedPost.title }}</h1>
      <div class="post__details">
        <div>Last updated on {{ loadedPost.updatedDate }}</div>
        <div>Written by {{ loadedPost.author }}</div>
      </div>
      <div class="post__content">
        {{ loadedPost.content }}
      </div>
    </section>
    <section class="post-feedback">
      <div>Let me know what u think about post by sending me a feedback to <a href="mailto:test@mail.com">my email</a></div>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    asyncData(context) {
      return axios.get('https://nuxt-blog-6f215.firebaseio.com/posts/' + context.params.id + '.json')
        .then(res => {
          return {
            loadedPost: res.data
          }
        })
        .catch(e => context.error(e))
    },
    head: {
      meta: [
        { hid: 'description', name: 'description', content: 'Exact post description' }
      ]
    }
  }
</script>

<style scoped>
  .post-page {
    padding: 30px;
    text-align: center;
  }

  .post {
    width: 100%;
  }

  @media (min-width: 768px) {
    .post {
      width: 600px;
      margin: auto;
    }
  }

  .post-title {
    margin: 0;
  }

  .post__details {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .post__details {
      flex-direction: row;
    }
  }

  .post__details > div {
    color: rgb(88, 88, 88);
    margin: 0 10px;
  }

  .post-feedback a {
    color: red;
    text-decoration: none;
  }

  .post-feedback a:hover,
  .post-feedback a:active {
    color: salmon;
  }
</style>
